<!DOCTYPE html>
<html>
<head>
  <title>Acts2 Church, Gretna, NE</title>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <!--This is the logo for A2 that is placed in the top-left corner of the screen-->
    <div class="logo"><a href="/" ><img src="/assets/A2logoweb.jpg"  width=497 height=79 border=0 alt="The Acts 2 Church - Love God Love One Another Love All"></a></div>
    <div class="menu" background="/assets/Sidebar.jpg" >
      <img id="sidebar" src="/assets/Sidebar.jpg" />
      <!--This is the navigation menu structure that is found on the left side of the screen-->
      <ul id="nav">
        <a href="/whoweare"><li>Who We Are</li></a>
        <a href="/whatwebelieve"><li>What We Believe</li></a>
        <a href="/loveGod"><li>Love God</li></a>
        <a href="/loveOneAnother"><li>Love One Another</li></a>
        <a href="/loveAll"><li>Love All</li></a>
        <a href="/podcasts"><li>Media</li></a>
        <a href="/calendar"><li>Calendar</li></a>
        <a href="https://secure.bluepay.com/interfaces/shpf?SHPF_FORM_ID=A2C01&SHPF_ACCOUNT_ID=100180621693&SHPF_TPS_DEF=SHPF%5FFORM%5FID%20SHPF%5FACCOUNT%5FID%20DBA%20TAMPER%5FPROOF%5FSEAL%20AMEX%5FIMAGE%20DISCOVER%5FIMAGE%20TPS%5FDEF%20SHPF%5FTPS%5FDEF%20CUSTOM%5FHTML&SHPF_TPS=e1a40bb936344aa93f2f6c911a99f5b5&MODE=LIVE&TRANSACTION_TYPE=SALE&DBA=The%20Acts2%20Church&AMOUNT=&TAMPER_PROOF_SEAL=63d489ba754248ab73ffbc6e7bbf640e&CUSTOM_ID=&CUSTOM_ID2=&REBILLING=1&REB_CYCLES=&REB_AMOUNT=&REB_EXPR=&REB_FIRST_DATE=&AMEX_IMAGE=spacer%2Egif&DISCOVER_IMAGE=discvr%2Egif&REDIRECT_URL=https%3A%2F%2Fsecure%2Ebluepay%2Ecom%2Finterfaces%2Fshpf%3FSHPF%5FFORM%5FID%3DV5results%26SHPF%5FACCOUNT%5FID%3D100180621693%26SHPF%5FTPS%5FDEF%3DSHPF%5FACCOUNT%5FID%20SHPF%5FFORM%5FID%20RETURN%5FURL%20DBA%20AMEX%5FIMAGE%20DISCOVER%5FIMAGE%20SHPF%5FTPS%5FDEF%26SHPF%5FTPS%3D94a23b430ed03e6807ca0aab2906b711%26RETURN%5FURL%3Djavascript%253Ahistory%252Ego%2528%252D2%2529%26DBA%3DThe%2520Acts2%2520Church%26AMEX%5FIMAGE%3Dspacer%252Egif%26DISCOVER%5FIMAGE%3Ddiscvr%252Egif&TPS_DEF=MERCHANT%20APPROVED%5FURL%20DECLINED%5FURL%20MISSING%5FURL%20MODE%20TRANSACTION%5FTYPE%20TPS%5FDEF&CUSTOM_HTML="><li>Online Giving</li></a>
      </ul>
    </div>

    <!--This contains the Content border and the picture-->
    <div class="content" >
      <img id="border" src="/assets/Content.jpg">
      
      <%= yield %>
    
    </div>
    <div class="bottom"><!--This Contains the information listed at the very bottom of the screen-->
      <p class="bottom">
        <b> THE ACTS2 CHURCH MEETS SUNDAY MORNINGS AT 10:00 AM</b><br/>
        <b>SUNDAY SERVICES:</b> Nebraska Christian College (MEC Building) 12550 South 114th Street Papillion, NE  68046</b><br/>
        <b>THE HUB:</b> 20362 Husker Dr Gretna, NE 68028<b> | PHONE:</b>  (402) 320-1178 <b>| 
          EMAIL: </b><a class="nostyle" href="mailto:a2gretna@gmail.com">a2gretna@gmail.com</a>
      </p>
    </div>
  </div>
</body>
</html>
